marcacoes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="marcacoes">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="codMarcacao"/>
                <xs:element name="local">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="morada">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="cidade"/>
                                        <xs:element type="xs:string" name="codPostal"/>
                                        <xs:element type="xs:string" name="rua"/>
                                        <xs:element type="xs:short" name="porta"/>
                                        <xs:element name="coordenadas">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:float" name="latitude"/>
                                                    <xs:element type="xs:float" name="longitude"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="contactoCliente">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nomePessoa"/>
                                        <xs:element type="xs:string" name="proprietario"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="contactoOficina">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nomeEstabelicimento"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="veiculo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="marca"/>
                                        <xs:element type="xs:string" name="modelo"/>
                                        <xs:element type="xs:string" name="combustivel"/>
                                        <xs:element type="xs:string" name="transmissao"/>
                                        <xs:element type="xs:string" name="ano"/>
                                        <xs:element type="xs:short" name="potenciaCavalos"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>